<%- include("../partials/header.ejs") %>

<div class="container text-center">
  <h1>hello from index</h1>
  <a href="https://github.com/satyabrata-saha/" class="btn btn-primary m-4"
    >My Github</a
  >
</div>

<%- include("../partials/footer.ejs") %>
